



<div class=grid-container>
    <button id=dot11 [style.color]='owner' (click)="handler('1','1','11')">clickme</button>
    <button id=dot12 (click)="handler('1','2','12')">clickme</button>
    <button id=dot13 (click)="handler('1','3','13')">clickme</button>
    <button id=dot21 (click)="handler('2','1','21')">clickme</button>
    <button id=dot22 (click)="handler('2','2','22')">clickme</button>
    <button id=dot23 (click)="handler('2','3','23')">clickme</button>
    <button id=dot31 (click)="handler('3','1','31')">clickme</button>
    <button id=dot32 (click)="handler('3','2','32')">clickme</button>
    <button id=dot33 (click)="handler('3','3','33')">clickme</button>
</div>