
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.button{
    background-color: black;
    border-color: darkgreen;
    border-width: 2px;
    margin: 1px; 
}