

<div class=grid-container>
    <button id=dot11 (click)="handler('1','1')">clickme</button>
    <button id=dot12 (click)="handler('12')">clickme</button>
    <button id=dot13 (click)="handler('13')">clickme</button>
    <button id=dot21 (click)="handler('21')">clickme</button>
    <button id=dot22 (click)="handler('22')">clickme</button>
    <button id=dot23 (click)="handler('23')">clickme</button>
    <button id=dot31 (click)="handler('31')">clickme</button>
    <button id=dot32 (click)="handler('32')">clickme</button>
    <button id=dot33 (click)="handler('33')">clickme</button>
</div>