



<div class=grid-container>
    <button id=dot11 [style.color]='owner11' (click)="dotClickHandler('11')">clickme</button>
    <button id=dot12 [style.color]='owner12' (click)="dotClickHandler('12')">clickme</button>
    <button id=dot13 [style.color]='owner13' (click)="dotClickHandler('13')">clickme</button>
    <button id=dot21 [style.color]='owner21' (click)="dotClickHandler('21')">clickme</button>
    <button id=dot22 [style.color]='owner22' (click)="dotClickHandler('22')">clickme</button>
    <button id=dot23 [style.color]='owner23' (click)="dotClickHandler('23')">clickme</button>
    <button id=dot31 [style.color]='owner31' (click)="dotClickHandler('31')">clickme</button>
    <button id=dot32 [style.color]='owner32' (click)="dotClickHandler('32')">clickme</button>
    <button id=dot33 [style.color]='owner33' (click)="dotClickHandler('33')">clickme</button>
    <button id=dot41 [style.color]='owner41' (click)="dotClickHandler('41')">clickme</button>
    <button id=dot42 [style.color]='owner42' (click)="dotClickHandler('42')">clickme</button>
    <button id=dot43 [style.color]='owner43' (click)="dotClickHandler('43')">clickme</button>
    <button id=dot51 [style.color]='owner51' (click)="dotClickHandler('51')">clickme</button>
    <button id=dot52 [style.color]='owner52' (click)="dotClickHandler('52')">clickme</button>
    <button id=dot53 [style.color]='owner53' (click)="dotClickHandler('53')">clickme</button>
    <button id=dot61 [style.color]='owner61' (click)="dotClickHandler('61')">clickme</button>
    <button id=dot62 [style.color]='owner62' (click)="dotClickHandler('62')">clickme</button>
    <button id=dot63 [style.color]='owner63' (click)="dotClickHandler('63')">clickme</button>
    <button id=dot71 [style.color]='owner71' (click)="dotClickHandler('71')">clickme</button>
    <button id=dot72 [style.color]='owner72' (click)="dotClickHandler('72')">clickme</button>
    <button id=dot73 [style.color]='owner73' (click)="dotClickHandler('73')">clickme</button>
    <button id=dot81 [style.color]='owner81' (click)="dotClickHandler('81')">clickme</button>
    <button id=dot82 [style.color]='owner82' (click)="dotClickHandler('82')">clickme</button>
    <button id=dot83 [style.color]='owner83' (click)="dotClickHandler('83')">clickme</button>
    <button id=dot91 [style.color]='owner91' (click)="dotClickHandler('91')">clickme</button>
    <button id=dot92 [style.color]='owner92' (click)="dotClickHandler('92')">clickme</button>
    <button id=dot93 [style.color]='owner93' (click)="dotClickHandler('93')">clickme</button>
    <button id=dot101 [style.color]='owner101' (click)="dotClickHandler('101')">clickme</button>
    <button id=dot102 [style.color]='owner102' (click)="dotClickHandler('102')">clickme</button>
    <button id=dot103 [style.color]='owner103' (click)="dotClickHandler('103')">clickme</button>
    <button id=dot111 [style.color]='owner111' (click)="dotClickHandler('111')">clickme</button>
    <button id=dot112 [style.color]='owner112' (click)="dotClickHandler('112')">clickme</button>
    <button id=dot113 [style.color]='owner113' (click)="dotClickHandler('123')">clickme</button>
    <button id=dot121 [style.color]='owner121' (click)="dotClickHandler('121')">clickme</button>
    <button id=dot122 [style.color]='owner122' (click)="dotClickHandler('122')">clickme</button>
    <button id=dot123 [style.color]='owner123' (click)="dotClickHandler('123')">clickme</button>
</div>