
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 300px;
}

.button{
    background-color: #1F262A;
    border-style: solid;
    border-color: #2A3439;
    border-width:2px;
    border-radius: 2px;
    margin: 1px; 
}